@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

*{
    margin:0;
    padding:0;
box-sizing: border-box;
}

:root{
--primay-color: #FFDFD6;
--secundary-color: #E3A5C7;
--terciario-color: #B692C2;
--cuarto-color: #694F8E;


--primay-font:"Oswald", sans-serif; /* para temas en molde y oscuras  */
--secundary-font: "Edu AU VIC WA NT Hand", cursive; /* para texto */
--terciario-font:"Playwrite DK Loopet", cursive; /* carta*/


}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--terciario-color);
    align-items: center;
    padding: 1rem;
   

}
.navbar-title{
    font-family: var(--terciario-font);
}

.header{
    background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 100vh;

display: flex;
justify-content: center;
align-items: center;

}





